<!DOCTYPE html>
  <html>
    <head>
    <title>Date Page</title>
    </head>
    <body>
      <h1>Today</h1>
      <p>The date is Wednesday, November 18, 2015</p>
      <p>Friday, September 25, 2020</p>
    </body>
  </html>